{%- capture mapUrl -%}
https://maps.google.com/maps?q={{ apartment.address | url_encode}}+{{ apartment.city | url_encode}},+CA
{%- endcapture -%}
{%- if apartment.address and apartment.address != '' -%}
  <p class="contact">
  {{ apartment.address }}{%- if apartment.city and apartment.city != '' -%}, {{ apartment.city }}{%- endif -%}
    <span class="map_link_container noprint nowrap">
      (<button type="button" class="map_link link hidden" aria-label="Highlight {{ apartment.aptName }} on map">Show on map</button><span class="ext_map_link"><a href="{{mapUrl}}" target="_blank" rel="noopener" aria-label="View {{ apartment.aptName }} on Google Maps">map</a><sup>&#8599;</sup></span>)
    </span>
  </p>
{%- endif -%}
{%- if apartment.email and apartment.email != '' -%}
  <p class="contact"> 
    <a href="mailto:{{ apartment.email }}" target="_blank" rel="noopener">{{ apartment.email }}</a>
  </p>
{%- endif -%}
{%- if apartment.phone and apartment.phone != '' -%}
  <p class="contact">
    {%- assign formattedPhone = apartment.phone | replace: '(', '' | replace: ') ', '-' -%}
    <a href="tel:+1{{ formattedPhone | replace: '-', '' }}">{{formattedPhone}}</a>
  </p>
{%- endif -%}
{%- if apartment.website and apartment.website != '' -%}
  <p class="contact">
    <a href="{{ apartment.website }}" target="_blank" rel="noopener" aria-label="Property website for {{ apartment.aptName }}">View property website</a><sup>&#8599;</sup>
  </p>
{%- endif -%}
</li>