{% if item and item.size != 0 %}
<tr>
  <td class="definition_term">{{ label }}</td>
  <td class="definition">
  {%- if label == "Email" -%}
    <ul>
      {%- for email in item -%}
        {%- if email and email != '' -%}
          <li><a href="mailto:{{ email }}">{{ email }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- elsif label == "Phone" -%}
    <ul>
      {%- for phone in item -%}
        {%- if phone and phone != '' -%}
          {%- assign formattedPhone = phone | formatPhone -%}
          <li><a href="tel:{{ formattedPhone }}" >{{ formattedPhone }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- elsif label == "Website" -%}
    <a href="{{ item }}" target="_blank" rel="noopener">{{ item }}</a>
  {%- elsif label == "Additional Info" -%}
    <ul>
      {%- for link in item -%}
        <li><a href="{{ link }}" target="_blank" rel="noopener">{{ link }}</a></li>
      {%- endfor -%}
    </ul>
  {%- elsif label == "Address" -%}
    <ul>
      {%- for address in item -%}
        {%- if address and address != '' -%}
          <li>{{ address }} (<a href="https://maps.google.com/maps?q={{address | url_encode}}+{{apartment.city | url_encode}}&country=us" target="_blank" rel="noopener">map</a>)</li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- else -%}
    {{ item }}
  {%- endif -%}
  </td>
</tr>
{% endif %}