---
layout: layouts/base.liquid
title: Affordable housing database
permalink: 
  build: "/housing/affordable-housing/index.html"
  serverless: "/housing/affordable-housing/filter"
pageClass: "page-housing"
---

<h1>Affordable housing database</h1>

{% assign query = eleventy.serverless.query %}
{% assign housingdb = query | housingResults %}

<form action="/housing/affordable-housing/filter" action="get" id="housing-search">
  
  {% assign filter_values = filter_values | updateFilterState: query %}
  {% for section in filter_values %}
    <h3>{{section.heading}}</h3>
    <div style="column-count:2;width:50%">
    {% assign sorted_opts = section.options | sort: "name" %}
    {% for opt in sorted_opts %}
      {% assign opt_id = section.name | append : '-' | append: opt.name | downcase | replace: ' ', '-' %}
      <input type="checkbox" id="{{opt_id}}" value="{{opt.name}}" name="{{section.name}}" {% if opt.selected %}checked{% endif %}>
      <label for="{{opt_id}}">{{opt.name}}</label><br/>
    {% endfor %}
    </div>
  {% endfor %}

  <h3>Rent</h3>
  <div>
    <label for="rent-min">Minimum</label>
    $<input type="number" min="0" id="rent-min" name="rent_min" value="{{query.rent_min | escape}}"> per month<br/>
    <label for="rent-max">Maximum</label>
    $<input type="number" min="0" id="rent-max" name="rent_max" value="{{query.rent_max | escape}}"> per month<br/>
    <input type="checkbox" id="include-unknown-rent" name="include_unknown_rent" 
    {% if query == nil or query.include_unknown_rent == "on" %}checked{% endif %}>
    <label for="include-unknown-rent">Include properties with no rent information</label>
  </div>

  <h3>Income</h3>
  <div>
    <label for="income">Yearly Income</label>
    $<input type="number" min="0" id="income" name="income" value="{{query.income | escape}}"> per year<br/>
    <input type="checkbox" id="include-unknown-income" name="include_unknown_income" 
    {% if query == nil or query.include_unknown_income == "on" %}checked{% endif %}>
    <label for="include-unknown-income">Include properties with no income limit information</label>
  </div>

  <input type="submit" value="Apply Filter" />
</form>


<ul>
  {% for address in housingdb %}
  <li>
    <a href="/housing/affordable-housing/{{address.id}}">{{ address.apt_name }}</a>
  </li>
  {% endfor %}
</ul> 
