---
layout: layouts/base.liquid
title: Affordable housing database
permalink: 
  build: "/housing/affordable-housing/index.html"
  serverless: "/housing/affordable-housing/filter"
pageClass: "page-housing"
---

<h1>Affordable housing database</h1>

<div>
<p>
  The affordable housing database is compiled from many housing lists across the county in order to provide a single, maintained resource to search. To help us maintain this database, you can <a href="/housing/affordable-housing/contribute/">submit updates and additions</a> for us to review and include.
</p>
<p>
  All search options below are optional.
</p>
</div>

{% assign query = eleventy.serverless.query %}
{% assign housingdb = query | housingResults %}

<form action="/housing/affordable-housing/filter" action="get" id="housing-search" class="housing_search">
  
  {% assign filterValues = filterValues | updateFilterState: query %}

  {% for section in filterValues %}
  <fieldset>
    <legend>{{section.heading}}</legend>
    <div class="option_columns">
    {% assign sortedOpts = section.options | sort: "name" %}
    {% for opt in sortedOpts %}
      {% assign optId = section.name | append : '-' | append: opt.name | downcase | replace: ' ', '-' %}
      <input type="checkbox" id="{{optId}}" value="{{opt.name}}" name="{{section.name}}" {% if opt.selected %}checked{% endif %}>
      <label for="{{optId}}">{{opt.name}}</label><br/>
    {% endfor %}
    </div>
  </fieldset>
  {% endfor %}

  <fieldset>
    <legend>Property Name</legend>
    <div>
      <label for="property-name">Name</label><br />
      <input type="text" aria-label="Property Name" id="property-name" value="{{query.propertyName | escape}}" name="propertyName">
    </div>
  </fieldset>

  <fieldset>
    <legend>Rent</legend>
    <div>
      <label for="rent-min">Minimum ($ per month)</label><br />
      <input type="number" min="0" id="rent-min" name="rentMin" value="{{query.rentMin | escape}}"><br/>
      <label for="rent-max">Maximum ($ per month)</label><br />
      <input type="number" min="0" id="rent-max" name="rentMax" value="{{query.rentMax | escape}}"><br/>
      <input type="checkbox" id="include-unknown-rent" name="includeUnknownRent" 
      {% if query == nil or query.includeUnknownRent == "on" %}checked{% endif %}>
      <label for="include-unknown-rent">Include properties with no rent information</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Income</legend>
    <div>
      <label for="income">Yearly Income ($)</label><br />
      <input type="number" min="0" id="income" name="income" value="{{query.income | escape}}"><br/>
      <input type="checkbox" id="include-unknown-income" name="includeUnknownIncome" 
      {% if query == nil or query.includeUnknownIncome == "on" %}checked{% endif %}>
      <label for="include-unknown-income">Include properties with no income limit information</label>
    </div>
  </fieldset>

  <div class="form_controls">
  <input type="submit" class="btn btn_submit" value="Search the housing list" />
  <a href="javascript:window.print()" class="btn btn_print">Print this list</a>
  </div>
</form>


<ul class="results_list">
  {% for address in housingdb %}
  <li>
    <h4>
      <a href="/housing/affordable-housing/{{address.id}}">{{ address.aptName }}</a>, 
    </h4>
    <span>
      {{ address.city }}
    </span> 
    <p>
      <span class="badge
        {% if address.openStatus == "Call for Status" %}
          badge__warn
        {% elsif address.openStatus == "Waitlist Closed" %}
          badge__bad
        {% elsif address.openStatus == "Waitlist Open" %}
          badge__ok
        {% endif %}
        ">
        {{ address.openStatus }}
      </span>
      <span class="badge">
        {{ address.unitType }}
      </span> 
    </p>
  </li>
  {% endfor %}
</ul> 
