---
layout: layouts/base.liquid
title: Affordable housing database
permalink: 
  build: "/housing/affordable-housing/index.html"
  serverless: "/housing/affordable-housing/filter"
pageClass: "page-housing"
---

<h1>Affordable housing database</h1>

{% assign housingdb = eleventy.serverless.query | housingResults %}


<form action="/housing/affordable-housing/filter" action="get" id="housing-search">
  
  {% assign filter_values = filter_values | updateFilterState: eleventy.serverless.query %}
  {{ filter_values | log }}
  <h3>Availability</h3>
  {% assign filter_avails = filter_values.open_status | sort: "name" %}
  {% for avail in filter_avails %}
    {% assign avail_id = 'avail-' | append: avail.name | downcase | replace: ' ', '-' %}
    <input type="checkbox" id="{{avail_id}}" value="{{avail.name}}" name="availability" {% if avail.selected %}checked{% endif %}>
    <label for="{{avail_id}}">{{avail.name}}</label><br/>
  {% endfor %}
  
  <h3>City</h3>
  <div style="column-count:2;width:50%">
    {% assign filter_cities = filter_values.city | sort: "name" %}
    {% for city in filter_cities %}
      {% assign city_id = 'city-' | append: city.name | downcase | replace: ' ', '-' %}
      <input type="checkbox" id="{{city_id}}" value="{{city.name}}" name="city" {% if city.selected %}checked{% endif %}>
      <label for="{{city_id}}">{{city.name}}</label><br/>
    {% endfor %}
  </div>

  <h3>Type of Unit</h3>
  <div style="column-count:2;width:50%">
    {% assign filter_units = filter_values.unit_type | sort: "name" %}
    {% for unit_type in filter_units %}
      {% assign unit_type_id = 'unit-type-' | append: unit_type.name | downcase | replace: ' ', '-' %}
      <input type="checkbox" id="{{unit_type_id}}" value="{{unit_type.name}}" name="unit_type" {% if unit_type.selected %}checked{% endif %}>
      <label for="{{unit_type_id}}">{{unit_type.name}}</label><br/>
     {% endfor %}
  </div>

  <h3>Rent</h3>
  <div>
    <label for="rent-min">Minimum</label>
    $<input type="number" min="0" id="rent-min" name="rent_min" value="{{eleventy.serverless.query.rent_min | escape}}"> per month<br/>
    <label for="rent-max">Maximum</label>
    $<input type="number" min="0" id="rent-max" name="rent_max" value="{{eleventy.serverless.query.rent_max | escape}}"> per month<br/>
    <input type="checkbox" id="include-unknown-rent" name="include_unknown_rent" {% if eleventy.serverless.query.include_unknown_rent == "on" %}checked{% endif %}>
    <label for="include-unknown-rent">Include properties with no rent information</label>
  </div>

  <h3>Income</h3>
  <div>
    <label for="income">Yearly Income</label>
    $<input type="number" min="0" id="income" name="income" value="{{eleventy.serverless.query.income | escape}}"> per year<br/>
    <input type="checkbox" id="include-unknown-income" name="include_unknown_income" {% if eleventy.serverless.query.include_unknown_income == "on" %}checked{% endif %}>
    <label for="include-unknown-income">Include properties with no income limit information</label>
  </div>

  <input type="submit" value="Apply Filter" />
</form>


<ul>
  {% for address in housingdb %}
  <li>
    <a href="/housing/affordable-housing/{{address.id}}">{{ address.apt_name }}</a>
  </li>
  {% endfor %}
</ul> 
