---
layout: layouts/base.liquid
title: Affordable Housing Application Tracker
permalink: 
  serverless: "/housing/affordable-housing/tracker"
pageClass: "page-housing page_housing_table"
pageHead: '<style type="text/css" media="print">@page {size: landscape;}</style>'
---

{% assign query = eleventy.serverless.query %}
{% assign housingdb = query | housingResults %}
{% assign numFiltersApplied = query | numFiltersApplied %}
{% assign numResults = housingdb | size %}

<div class="only_print page_break_after">
  <h2>Instructions</h2>
  <p>
    Use this printout as a tool to keep track of your affordable housing applications.  This is a convenience provided by The United Effort Organization and is not associated with the actual waitlist application process for any of the properties listed.
  </p>
  <h3>Submitting Waitlist Applications</h3>
  <p>
    Each affordable housing property matching your preferences is listed in the table that follows these instructions.  When you submit an application to get on the waitlist for a certain property, write in the date you submitted that application in the <span class="bold">Date Submitted</span> column.
  </p>
  <p>
    In the <span class="bold">Submitted Via</span> column, check the box corresponding to how you submitted your application so that you can more easily follow up with the property in the future.
  </p>
  <p>
    If you can, get the name of the person who took your application from you. Write this person's name in the <span class="bold">Received By</span> column so you can more easily follow up with them in the future.
  </p>
  <h3>Following Up On Your Applications</h3>
  <p>
    One month after you submit your application, you should contact the property again to verify a few items.  Mark the date of your follow up contact in the <span class="bold">Date of Follow-up</span> column.
  </p>
  <p>
    During your follow up, verify the contact information they have for you on file is still correct.  Once you have done this, check the box in the <span class="bold">Contact Details Confirmed</span> column.
  </p>
  <p>
    You should also double-check that you are indeed still on the waitlist.  Once you have done this, check the box in the <span class="bold">Verified on Waitlist</span> column.
  </p>
  <p>
    Six months after you submit your application, do a second follow up. Enter the date of the follow up and check the appropriate boxes once you have done so.
  </p>
</div>

<a href="/housing/affordable-housing/filter?{{eleventy.serverless.query | queryString}}" class="noprint">&#8592; Back to results list</a>

{% if numFiltersApplied > 0 %}
  <p>Filters Applied:<br/> {% querySummary query %}</p>
{% endif %}

{% if query.availability == nil or query.availability == "" or query.availability contains "Waitlist Closed" %}
  {% assign availabilities = filterValues | where: "name", "availability" %}
  {% assign availabilities = availabilities[0].options | map: "name" %}
  {% assign newQuery = query | removeWaitlistClosed: availabilities %}
  <p class="note">
    {% assign includesStr = "includes some" %}
    {% assign linkStr = "Hide properties with a closed waitlist" %}
    {% if query.availability == "Waitlist Closed" %}
      {% assign includesStr = "only contains" %}
      {% assign linkStr = "Show properties that may have an open waitlist" %}
    {% endif %}
    The checklist below {{includesStr}} properties that are currently <span class="bold">not</span> accepting waitlist applications.  <a href="?{{newQuery}}" class="noprint">{{linkStr}}</a>
  </p>
{% endif %}

<h3>{{numResults}} {% if numResults == 1 %}property{% else %}properties{% endif %} total</h3>
<div class="flex">
  <p class="noprint collapse_top">
    Print this table to track your progress applying to these apartments.
  </p>
  <a class="btn btn_secondary noprint" title="Print table" href="javascript:window.print();">
    <svg role="img" aria-hidden="true" focusable="false" class="icon ">
      <use xlink:href="/images/sprites.svg#print"></use>
    </svg>
    Print table
  </a>
</div>

<table id="affordable-housing-table-tracker" class="printed all_borders">
  <colgroup span="3"></colgroup>
  <colgroup span="3"></colgroup>
  <colgroup span="3"></colgroup>
  <thead>
    <tr>
      <th rowspan="2" class="apartment">Apartment</th>
      <th colspan="3" scope="colgroup">Waitlist Application</th>
      <th colspan="3" scope="colgroup">1 Month Follow-Up</th>
      <th colspan="3" scope="colgroup">6 Month Follow-Up</th>
    </tr>
    <tr>
      <th scope="col">Date Submitted</th>
      <th scope="col">Submitted Via</th>
      <th scope="col" class="received_by">Received By</th>
      <th scope="col">Date of Follow-up</th>
      <th scope="col">Contact Details Confirmed</th>
      <th scope="col">Verified on Waitlist</th>
      <th scope="col">Date of Follow-up</th>
      <th scope="col">Contact Details Confirmed</th>
      <th scope="col">Verified on Waitlist</th>
    </tr>
  </thead>
  <tbody>
    {% assign sortedHousingdb = housingdb | sort: "aptName" %}
    {% for address in sortedHousingdb %}
      <tr>
        <td class="apartment">
          <p>
            <a class="noprint" href="/housing/affordable-housing/{{address.id}}" target="_blank" rel="noopener">{{ address.aptName }}</a>
            <span class="only_print bold">{{address.aptName}}</span>
          </p>
          {% if address.address and address.address != '' %}
            <p>
              {{ address.address }}
            </p>
          {% endif %}
          {% if address.city and address.city != '' %}
            <p>
              {{ address.city }}
            </p>
          {% endif %}
          {% if address.email and address.email != '' %}
            <p>
              <span class="italic">{{ address.email }}</span>
            </p>
          {% endif %}
          {% if address.phone and address.phone != '' %}
            <p>
              {{ address.phone }}
            </p>
          {% endif %}
        </td>
        <td><span class="date_placeholder"></span><span class="date_placeholder"></span><span class="date_placeholder"></span></td>
        <td class="nowrap checklist">
          <p>
            <span class="print_checkbox inline_block"></span> Website
          </p>
          <p>
            <span class="print_checkbox inline_block"></span> Email
          </p>
          <p>
            <span class="print_checkbox inline_block"></span> Mail
          </p>
          <p>
            <span class="print_checkbox inline_block"></span> Dropoff
          </p>
          <p>
            <span class="print_checkbox inline_block"></span> Other
          </p>
        </td>
        <td class="received_by"></td>
        <td><span class="date_placeholder"></span><span class="date_placeholder"></span><span class="date_placeholder"></span></td>
        <td><div class="print_checkbox"></div></td>
        <td><div class="print_checkbox"></div></td>
        <td><span class="date_placeholder"></span><span class="date_placeholder"></span><span class="date_placeholder"></span></td>
        <td><div class="print_checkbox"></div></td>
        <td><div class="print_checkbox"></div></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
