---
layout: layouts/base.liquid
title: Affordable Housing Database
permalink: 
  build: "/housing/affordable-housing/index.html"
  serverless: "/housing/affordable-housing/filter"
pageClass: "page-housing"
---
<script>
function CopyUrl() {
  navigator.clipboard.writeText(window.location.href);
  document.getElementById("copy-url-done").removeAttribute("hidden");
  return false;
}
</script>
<h1>Affordable Housing Database</h1>

<div>
<p>
  The affordable housing database is compiled from many housing lists across the county in order to provide a single resource to search. To help us maintain this database, you can <a href="/housing/affordable-housing/contribute/">submit updates and additions</a> for us to review and include.
</p>
<p>
  All search options below are optional.
</p>
</div>

{% assign query = eleventy.serverless.query %}
{% assign housingdb = query | housingResults %}

<form action="/housing/affordable-housing/filter" action="get" id="housing-search" class="housing_search">
  
  {% assign filterValues = filterValues | updateFilterState: query %}

  {% for section in filterValues %}
  <fieldset>
    <legend>{{section.heading}}</legend>
    <div class="option_columns">
    {% if section.name == "unitType" %}
      {% assign sortedOpts = section.options | sortUnitType: "name" %}
    {% else %}
      {% assign sortedOpts = section.options | sort: "name" %}
    {% endif %}
    {% for opt in sortedOpts %}
      {% assign optId = section.name | append : '-' | append: opt.name | downcase | replace: ' ', '-' %}
      <input type="checkbox" id="{{optId}}" value="{{opt.name}}" name="{{section.name}}" {% if opt.selected %}checked{% endif %}>
      <label for="{{optId}}">{{opt.name}}</label><br/>
    {% endfor %}
    </div>
  </fieldset>
  {% endfor %}

  <fieldset>
    <legend>Property Name</legend>
    <div>
      <label for="property-name">Name</label><br />
      <input type="text" aria-label="Property Name" id="property-name" value="{{query.propertyName | escape}}" name="propertyName">
    </div>
  </fieldset>

  <fieldset>
    <legend>Rent</legend>
    <div>
      <label for="rent-max">Maximum ($ per month)</label><br />
      <input type="number" min="0" id="rent-max" name="rentMax" value="{{query.rentMax | escape}}"><br/>
      <input type="checkbox" id="include-unknown-rent" name="includeUnknownRent" 
      {% if query == nil or query.includeUnknownRent == "on" %}checked{% endif %}>
      <label for="include-unknown-rent">Include properties with no rent information</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Income</legend>
    <div>
      Provide your income to hide properties you are not eligible for. Your information will not be stored.<br />
      <label for="income">Yearly Income ($)</label><br />
      <input type="number" min="0" id="income" name="income" value="{{query.income | escape}}"><br/>
      <input type="checkbox" id="include-unknown-income" name="includeUnknownIncome" 
      {% if query == nil or query.includeUnknownIncome == "on" %}checked{% endif %}>
      <label for="include-unknown-income">Include properties with no income limit information</label>
    </div>
  </fieldset>

  <div class="form_controls">
  <input type="submit" class="btn btn_submit" value="Search the housing list" />
  <a href="javascript:window.print()" class="btn btn_print">Print this list</a>
  </div>
</form>

{% assign num_results = housingdb | size %}
<b>Found {{ num_results }} {% if num_results == 1 %}property{% else %}properties{% endif %}</b> 
{% if eleventy.serverless.query %}
<p>To save this search, bookmark this page or <a href="javascript:CopyUrl();">copy the URL</a> <span id="copy-url-done" hidden>&#10003;</span></p>
{% endif %}
<ul class="results_list">
  {% assign sortedHousingdb = housingdb | sort: "aptName" %}
  {% for address in sortedHousingdb %}
  <li>
    <h4>
      <a href="/housing/affordable-housing/{{address.id}}">{{ address.aptName }}</a> 
    </h4>
    <p>
      <span class="badge
        {% if address.openStatus == "Call for Status" %}
          badge__warn
        {% elsif address.openStatus == "Waitlist Closed" %}
          badge__bad
        {% elsif address.openStatus == "Waitlist Open" %}
          badge__ok
        {% endif %}
        ">
        {{ address.openStatus }}
      </span>
      {% assign sortedUnitTypes = address.unitType | sortUnitType %}
      {% for unitType in sortedUnitTypes %}
        <span class="badge">
          {{ unitType }}
        </span>
      {% endfor %}   
    </p>
    {% if address.address and address.address != '' %}
      {{ address.address }}{% if address.city and address.city != '' %}, {{ address.city }}{% endif %} (<a href="https://maps.google.com/maps?q={{ address.address | url_encode}} {{ address.city | url_encode}}&country=us" target="_blank" rel="noopener">map</a>)<br/>
    {% endif %}
    {% if address.phone and address.phone != '' %}
      &#9742; <a href="tel:+1{{ address.phone | replace: '-', '' }}">{{ address.phone }}</a><br/>
    {% endif %}
    {% if address.website and address.website != '' %}
      <a href="{{ address.website }}" target="_blank" rel="noopener">View property website</a><sup>&#8599;</sup><br/>
    {% endif %}
  </li>
  {% endfor %}
</ul> 
