---
layout: layouts/base.liquid
title: Check for Affordable Housing Updates
permalink: 
  build: "/contrib/affordable-housing/changes/index.html"
pageClass: "visible-scrollbars"
pageHead: '<style type="text/css">
  * {scrollbar-color: var(--color-gray-600) var(--color-gray-800);}
  </style>
  <script src="/js/accessibility.js" defer></script>'
maxUnits: 10
maxOfferings: 8
maxHouseholdSize: 12
---

{% assign housingFields = housing %}
{% assign unitsFields = units %}

<p class="bold">Welcome<span id="welcome-name"></span>!
  <button type="button" class="link" id="edit-user-name" hidden>(Not you?)</button><br/>
  Thanks for helping out.
  <span id="user-name-input-container">
    <label for="user-name-input">What is your name?</label> <input id="user-name-input" type="text"></input>
  </span>
</p>
<div class="queue_status">
  <div class="progress_bar flex"><div id="queue-done-bar" class="progress_bar done"></div><div id="queue-in-progress-bar" class="progress_bar partial"></div><div id="queue-to-do-bar" class="progress_bar remaining"></div></div>
  <div class="flex">
    <span class="badge badge__done"><span id="queue-done-val" class="bold">0</span> done</span>
    <span class="badge badge__partial"><span id="queue-in-progress-val" class="bold">0</span> in progress</span>
    <span class="badge badge__remaining"><span id="queue-to-do-val" class="bold">0</span> to-do</span>
  </div>
</div>
<p>Confused? Read our <a href="/contrib/affordable-housing/help" target="_blank">getting started guide</a></p>
<h2 id="apt-name-header">Loading property data...</h2>
<div id="terminal-content"></div>
<div id="input-content">
  If you want, you can <a href="." id="skip-property">skip this property</a> for now
  <h3>Step 1</h3>
  <p class="bold">Visit the <a href="javascript:void(0)" target="_blank" rel="noopener" class="property-link">official information</a><sup>&#8599;</sup> page <span id="all-supplemental-urls"></span>for this property. </p>
  <p>If the offical information seems to be broken or shows the wrong page, find a better link for this property and put it in the URL field below.</p>
  <h3>Step 2</h3>
  <p class="bold">Make any edits necessary to make the information below match the offical property manager's information.</p>
  <div class="note">
    If there is information here that you can't confirm via the property manager's website, do not delete it.  When in doubt, keep the information you see below.
  </div>
  <form id="housing-changes" name="housing_changes" method="POST" action="/contrib/affordable-housing/thank-you" netlify>
    <p>All fields are optional. Leave a field blank if you can't find the information.</p>
    <input type="hidden" id="campaign" name="update_campaign" />
    <input type="hidden" id="user-name" name="user_name" />
    <input type="hidden" id="housing-table" name="housing_table" />
    <input type="hidden" id="units-table" name="units_table" />
    <div id="property-data">
      <input type="hidden" id="{{housingFields.ID.id}}" name="ID" />
      <input type="hidden" id="queue-record-id" name="queue_record_id" />
      {% fieldLabel "Property Name", housingFields, "APT_NAME" %}<br/>
      {% formField housingFields, "APT_NAME" %}

      {% fieldLabel "Address", housingFields, "ADDRESS" %}
      <span class="label"><button type="button" class="link show_extra_field" data-controls="second-address">Add a second address</button></span><br/>
      {% formField housingFields, "ADDRESS" %}
      <div id="second-address" hidden>
        {% fieldLabel "Second address", housingFields, "SECOND_ADDRESS" %}<br/>
        {% formField housingFields, "SECOND_ADDRESS" %}
      </div>

      {% fieldLabel "City", housingFields, "CITY" %}<br/>
      {% formField housingFields, "CITY", "short" %}

      {% fieldLabel "ZIP Code", housingFields, "ZIP_CODE" %}<br/>
      {% formField housingFields, "ZIP_CODE", "long" %}

      {% fieldLabel "Contact Phone", housingFields, "PHONE" %}
      <span class="label"><button type="button" class="link show_extra_field" data-controls="second-phone">Add a second phone</button></span><br/>
      {% formField housingFields, "PHONE" %}
      <div id="second-phone" hidden>
        {% fieldLabel "Second phone", housingFields, "SECOND_PHONE" %}<br/>
        {% formField housingFields, "SECOND_PHONE" %}
      </div>

      {% fieldLabel "Contact Email", housingFields, "EMAIL" %}
      <span class="label"><button type="button" class="link show_extra_field" data-controls="second-email">Add a second email</button></span><br/>
      {% formField housingFields, "EMAIL" %}
      <div id="second-email" hidden>
        {% fieldLabel "Second email", housingFields, "SECOND_EMAIL" %}<br/>
        {% formField housingFields, "SECOND_EMAIL" %}
      </div>

      {% fieldLabel "URL", housingFields, "PROPERTY_URL" %}
      <a href="javascript:void(0)" target="_blank" rel="noopener" class="label property-link">Visit this page</a><sup>&#8599;</sup>
      <span class="label"><button type="button" class="link show_extra_field" data-controls="second-url">Add a second URL</button></span><br/>
      {% formField housingFields, "PROPERTY_URL" %}
      <div id="second-url" hidden>
        {% fieldLabel "Supplemental URL", housingFields, "SUPPLEMENTAL_URL_1" %}
        <a href="javascript:void(0)" target="_blank" rel="noopener" class="label supplemental_url">Visit this page</a><sup>&#8599;</sup>
        <span class="label"><button type="button" class="link show_extra_field" data-controls="third-url">Add a third URL</button></span><br/>
        {% formField housingFields, "SUPPLEMENTAL_URL_1" %}
      </div>
      <div id="third-url" hidden>
        {% fieldLabel "Supplemental URL 2", housingFields, "SUPPLEMENTAL_URL_2" %}
        <a href="javascript:void(0)" target="_blank" rel="noopener" class="label supplemental_url">Visit this page</a><sup>&#8599;</sup>
        <span class="label"><button type="button" class="link show_extra_field" data-controls="fourth-url">Add a fourth URL</button></span><br/>
        {% formField housingFields, "SUPPLEMENTAL_URL_2" %}
      </div>
      <div id="fourth-url" hidden>
        {% fieldLabel "Supplemental URL 3", housingFields, "SUPPLEMENTAL_URL_3" %}
        <a href="javascript:void(0)" target="_blank" rel="noopener" class="label supplemental_url ">Visit this page</a><sup>&#8599;</sup>
        <span class="label"><button type="button" class="link show_extra_field" data-controls="fifth-url">Add a fifth URL</button></span><br/>
        {% formField housingFields, "SUPPLEMENTAL_URL_3" %}
      </div>
      <div id="fifth-url" hidden>
        {% fieldLabel "Supplemental URL 4", housingFields, "SUPPLEMENTAL_URL_4" %}
        <a href="javascript:void(0)" target="_blank" rel="noopener" class="label supplemental_url">Visit this page</a><sup>&#8599;</sup><br/>
        {% formField housingFields, "SUPPLEMENTAL_URL_4" %}
      </div>

    </div>
    <p class="note">It is <span class="bold">not</span> required to input the unit types and rent offerings in sorted order.</p>
    <div id="all-units">
      {% assign unitEndIdx = maxUnits | plus: -1 %}
      {% assign offeringEndIdx = maxOfferings | plus: -1 %}
      {% for unitNum in (0..unitEndIdx) %}
        {% assign unitIdx = unitNum %}
        <div id="unit-{{unitNum}}" class="fieldset_box" hidden>
          <fieldset>
            <legend><span class="section_title">Unit Type</span>
              <div class="float_right">
                <button type="button" class="btn btn_secondary collapse_control">Collapse</button>
                <button type="button" class="btn btn_warning delete_unit">Delete</button>
              </div>
            </legend>
            <div class="collapsible_content">
              {% indexedFieldLabel unitIdx, "Type", unitsFields, "TYPE" %}<br/>
              {% indexedFormField unitIdx, unitsFields, "TYPE", "short" %}

              {% indexedFieldLabel unitIdx, "Status", unitsFields, "STATUS" %}<br/>
              {% indexedFormField unitIdx, unitsFields, "STATUS", "short" %}
              <p class="label note">Try looking for the property manager's portfolio if you can't find the availability status in the linked property page</p>

              <div class="all_offerings">
                {% for offerNum in (0..offeringEndIdx) %}
                  <div id="unit-{{unitNum}}-offering-{{offerNum}}" class="fieldset_box" hidden>
                  <fieldset>
                    <legend><span class="section_title">Rent Offering</span>
                      <div class="float_right">
                        <button type="button" class="btn btn_secondary collapse_control">Collapse</button>
                        <button type="button" class="btn btn_warning delete_offering">Delete</button>
                      </div>
                    </legend>
                    <div class="collapsible_content">
                      {% assign offerIdx = unitNum | append: ":" | append: offerNum %}
                      <input type="hidden" id={{unitsFields.ID.id}} name={{"ID:" | append: offerIdx}}>
                      {% indexedFieldLabel offerIdx, "Income Bracket", unitsFields, "PERCENT_AMI" %}<br/>
                      {% indexedFormField offerIdx, unitsFields, "PERCENT_AMI", "short inline" %}% AMI<br/>

                      <input type="checkbox" id="is-alternate-rent:{{offerIdx}}" class="form_conditional is_alternate_rent" data-primary-field="RENT_PER_MONTH_USD:{{offerIdx}}" data-alternate-field="ALTERNATE_RENT_DESCRIPTION:{{offerIdx}}" data-conflict-resolution="primary"> <label for="is-alternate-rent:{{offerIdx}}">The rent is variable or can't be entered as a single number for this rent offering</label><br/>
                      <div class="rent_value">
                        {% indexedFieldLabel offerIdx, "Rent", unitsFields, "RENT_PER_MONTH_USD" %}<br/>
                        {% indexedFormField offerIdx, unitsFields, "RENT_PER_MONTH_USD", "inline" %} $/month<br/>
                      </div>
                      <div class="rent_alternate" hidden>
                        {% indexedFieldLabel offerIdx, "Rent Description", unitsFields, "ALTERNATE_RENT_DESCRIPTION" %}<br/>
                        {% indexedFormField offerIdx, unitsFields, "ALTERNATE_RENT_DESCRIPTION", "long"%}
                      </div>
                    </div>
                  </fieldset>
                  </div>
                {% endfor %}
              </div>
              <button type="button" class="btn btn_secondary add_offering">Add rent offering</button>
            </div>
          </fieldset>
        </div>
      {% endfor %}
    </div>

    <button type="button" id="add-unit" class="btn btn_secondary">Add unit type</button>

    <br/><br/><label for="user-notes">Not sure how to input some of this property's information? Need to leave a note for the reviewer? Enter it here.</label>
    <textarea id="user-notes" name="userNotes" class="extra_long"></textarea>
    <h3>Step 3</h3>
    <p class="bold">Submit this information for review by The United Effort Organization.</p>
    <p id="user-name-reminder">Consider entering your name in the field at the top of this page so we know who to contact with questions.</p>
    <button type="button" id="submit-button" class="btn btn_primary">Submit for review</button>
  </form>
</div>

<script src="/js/affordable-housing-changes.js"></script>
<script>
  console.log('running');
  run();
</script>