---
pagination: 
  data: housing.housingList
  size: 1
  alias: apartment
  addAllPagesToCollections: true
permalink: false
tags: prerender
---

{%- capture mapUrl -%}
https://maps.google.com/maps?q={{ apartment.address | url_encode}}+{{ apartment.city | url_encode}},+CA
{%- endcapture -%}
<h2>
  <a href="/housing/affordable-housing/{{apartment.id}}">{{ apartment.aptName }}</a> 
</h2>
{%- assign allStatuses = apartment.units | map: "openStatus" | uniq | sort | reverse -%}
{%- for status in allStatuses -%}
  <p>
    {%- capture badgeMod -%}
      {%- if status == "Call for Status" -%}
        badge__warn
      {%- elsif status == "Waitlist Closed" -%}
        badge__bad
      {%- elsif status == "Waitlist Open" -%}
        badge__ok
      {%- endif -%}
    {%- endcapture -%}
    <span class="badge {{ badgeMod }}">{{ status }}</span>
    {%- assign sortedUnits = apartment.units | where: "openStatus",  status | rankSort: "type" -%}
    {%- for unit in sortedUnits -%}
      {%- if unit.type -%}
        <span class="badge">{{ unit.type }}</span>
      {%- endif -%}
    {%- endfor -%} 
  </p>
{%- endfor -%}
  {%- if apartment.address and apartment.address != '' -%}
    <p class="contact">
    {{ apartment.address }}{%- if apartment.city and apartment.city != '' -%}, {{ apartment.city }}{%- endif -%}
      <span class="map_link_container noprint nowrap">
        (<button type="button" class="map_link link hidden" aria-label="Highlight {{ apartment.aptName }} on map">Show on map</button><span class="ext_map_link"><a href="{{mapUrl}}" target="_blank" rel="noopener" aria-label="View {{ apartment.aptName }} on Google Maps">map</a><sup>&#8599;</sup></span>)
      </span>
    </p>
  {%- endif -%}
  {%- if apartment.email and apartment.email != '' -%}
    <p class="contact"> 
      <a href="mailto:{{ apartment.email }}" target="_blank" rel="noopener">{{ apartment.email }}</a>
    </p>
  {%- endif -%}
  {%- if apartment.phone and apartment.phone != '' -%}
    <p class="contact">
      {%- assign formattedPhone = apartment.phone | replace: '(', '' | replace: ') ', '-' -%}
      <a href="tel:+1{{ formattedPhone | replace: '-', '' }}">{{formattedPhone}}</a>
    </p>
  {%- endif -%}
  {%- if apartment.website and apartment.website != '' -%}
    <p class="contact">
      <a href="{{ apartment.website }}" target="_blank" rel="noopener" aria-label="Property website for {{ apartment.aptName }}">View property website</a><sup>&#8599;</sup>
    </p>
  {%- endif -%}