---
layout: layouts/base.liquid
title: Check for Affordable Housing Updates
permalink: 
  build: "/contrib/affordable-housing/changes/index.html"
pageClass: ""
pageHead: '<script src="/js/accessibility.js" defer></script>'
maxUnits: 10
maxOfferings: 5
maxHouseholdSize: 12
---

{% assign housingFields = housing %}
{% assign unitsFields = units %}

<p class="bold">Welcome<span id="welcome-name"></span>!
  <button type="button" class="link" id="edit-user-name" hidden>(Not you?)</button><br/>
  Thanks for helping out.
  <span id="user-name-input-container">
    <label for="user-name-input">What is your name?</label> <input id="user-name-input" type="text"></input>
  </span>
</p>
<div class="queue_status">
  <div class="progress_bar flex"><div id="queue-done-bar" class="progress_bar done"></div><div id="queue-in-progress-bar" class="progress_bar partial"></div><div id="queue-to-do-bar" class="progress_bar remaining"></div></div>
  <div class="flex">
    <span class="badge badge__done"><span id="queue-done-val" class="bold">0</span> done</span>
    <span class="badge badge__partial"><span id="queue-in-progress-val" class="bold">0</span> in progress</span>
    <span class="badge badge__remaining"><span id="queue-to-do-val" class="bold">0</span> to-do</span>
  </div>
</div>
<p>Confused? Read our <a href="/contrib/affordable-housing/help" target="_blank">getting started guide</a></p>
<h2 id="apt-name-header">Loading property data...</h2>
<div id="terminal-content"></div>
<div id="input-content">
  If you want, you can <a href="." id="skip-property">skip this property</a> for now
  <h3>Step 1</h3>
  <p class="bold">Visit the <a href="javascript:void(0)" target="_blank" rel="noopener" class="property-link">official information</a><sup>&#8599;</sup> page <span id="all-supplemental-urls"></span>for this property. </p>
  <p>If the offical information seems to be broken or shows the wrong page, find a better link for this property and put it in the URL field below.</p>
  <h3>Step 2</h3>
  <p class="bold">Make any edits necessary to make the information below match the offical property manager's information.</p>
  <div class="note">
    If there is information here that you can't confirm via the property manager's website, do not delete it.  When in doubt, keep the information you see below.
  </div>
  <form id="housing-changes" name="housing_changes" method="POST" action="/contrib/affordable-housing/thank-you" netlify>
  <input type="hidden" id="campaign" name="update_campaign" />
  <input type="hidden" id="user-name" name="user_name" />
  <input type="hidden" id="housing-table" name="housing_table" />
  <input type="hidden" id="units-table" name="units_table" />
    <div id="property-data">
      <input type="hidden" id="{{housingFields.ID.id}}" name="ID" />
      <input type="hidden" id="queue-record-id" name="queue_record_id" />
      {% fieldLabel "Property Name", housingFields, "APT_NAME" %}<br/>
      {% formField housingFields, "APT_NAME" %}

      {% fieldLabel "Address", housingFields, "ADDRESS" %}
      <span class="label"><button type="button" class="link show_extra_field" data-controls="second-address">Add a second address</button></span><br/>
      {% formField housingFields, "ADDRESS" %}
      <div id="second-address" hidden>
        {% fieldLabel "Second address", housingFields, "SECOND_ADDRESS" %}<br/>
        {% formField housingFields, "SECOND_ADDRESS" %}
      </div>

      {% fieldLabel "City", housingFields, "CITY" %}<br/>
      {% formField housingFields, "CITY", "short" %}

      {% fieldLabel "ZIP Code", housingFields, "ZIP_CODE" %}<br/>
      {% formField housingFields, "ZIP_CODE", "long" %}

      {% fieldLabel "Contact Phone", housingFields, "PHONE" %}
      <span class="label"><button type="button" class="link show_extra_field" data-controls="second-phone">Add a second phone</button></span><br/>
      {% formField housingFields, "PHONE" %}
      <div id="second-phone" hidden>
        {% fieldLabel "Second phone", housingFields, "SECOND_PHONE" %}<br/>
        {% formField housingFields, "SECOND_PHONE" %}
      </div>

      {% fieldLabel "Contact Email", housingFields, "EMAIL" %}
      <span class="label"><button type="button" class="link show_extra_field" data-controls="second-email">Add a second email</button></span><br/>
      {% formField housingFields, "EMAIL" %}
      <div id="second-email" hidden>
        {% fieldLabel "Second email", housingFields, "SECOND_EMAIL" %}<br/>
        {% formField housingFields, "SECOND_EMAIL" %}
      </div>


      {% fieldLabel "Management Company", housingFields, "MANAGEMENT_COMPANY" %}<br/>
      {% formField housingFields, "MANAGEMENT_COMPANY" %}

      {% fieldLabel "URL", housingFields, "PROPERTY_URL" %}
      <a href="javascript:void(0)" target="_blank" rel="noopener" class="label property-link">Visit this page</a><sup>&#8599;</sup>
      <span class="label"><button type="button" class="link show_extra_field" data-controls="second-url">Add a second URL</button></span><br/>
      {% formField housingFields, "PROPERTY_URL" %}
      <div id="second-url" hidden>
        {% fieldLabel "Supplemental URL", housingFields, "SUPPLEMENTAL_URL_1" %}
        <a href="javascript:void(0)" target="_blank" rel="noopener" class="label supplemental_url">Visit this page</a><sup>&#8599;</sup>
        <span class="label"><button type="button" class="link show_extra_field" data-controls="third-url">Add a third URL</button></span><br/>
        {% formField housingFields, "SUPPLEMENTAL_URL_1" %}
      </div>
      <div id="third-url" hidden>
        {% fieldLabel "Supplemental URL 2", housingFields, "SUPPLEMENTAL_URL_2" %}
        <a href="javascript:void(0)" target="_blank" rel="noopener" class="label supplemental_url">Visit this page</a><sup>&#8599;</sup>
        <span class="label"><button type="button" class="link show_extra_field" data-controls="fourth-url">Add a fourth URL</button></span><br/>
        {% formField housingFields, "SUPPLEMENTAL_URL_2" %}
      </div>
      <div id="fourth-url" hidden>
        {% fieldLabel "Supplemental URL 3", housingFields, "SUPPLEMENTAL_URL_3" %}
        <a href="javascript:void(0)" target="_blank" rel="noopener" class="label supplemental_url ">Visit this page</a><sup>&#8599;</sup>
        <span class="label"><button type="button" class="link show_extra_field" data-controls="fifth-url">Add a fifth URL</button></span><br/>
        {% formField housingFields, "SUPPLEMENTAL_URL_3" %}
      </div>
      <div id="fifth-url" hidden>
        {% fieldLabel "Supplemental URL 4", housingFields, "SUPPLEMENTAL_URL_4" %}
        <a href="javascript:void(0)" target="_blank" rel="noopener" class="label supplemental_url">Visit this page</a><sup>&#8599;</sup><br/>
        {% formField housingFields, "SUPPLEMENTAL_URL_4" %}
      </div>

      {% fieldLabel "Total Units", housingFields, "NUM_TOTAL_UNITS" %}<br/>
      {% formField housingFields, "NUM_TOTAL_UNITS" %}

      <div class="multiselect" id="populations-served">
      {% fieldLabel "Target Populations", housingFields, "POPULATIONS_SERVED" %}<br/>
      {% formField housingFields, "POPULATIONS_SERVED" %}
      </div>

      <div id="min-age" hidden>
      {% fieldLabel "Minimum Resident Age", housingFields, "MIN_RESIDENT_AGE" %}<br/>
      {% formField housingFields, "MIN_RESIDENT_AGE", "short" %}
      </div>

      <div id="max-age" hidden>
      {% fieldLabel "Maximum Resident Age", housingFields, "MAX_RESIDENT_AGE" %}<br/>
      {% formField housingFields, "MAX_RESIDENT_AGE", "short" %}
      </div>

      {% formField housingFields, "ACCEPTS_VOUCHERS" %}
      {% fieldLabel "Accepts Vouchers", housingFields, "ACCEPTS_VOUCHERS" %}<br/>

      {% formField housingFields, "HAS_WHEELCHAIR_ACCESSIBLE_UNITS" %}
      {% fieldLabel "Wheelchair Accessible Units", housingFields, "HAS_WHEELCHAIR_ACCESSIBLE_UNITS" %}<br/>

      {% formField housingFields, "DISALLOWS_PUBLIC_APPLICATIONS" %}
      {% fieldLabel "Only accepts referral applications", housingFields, "DISALLOWS_PUBLIC_APPLICATIONS" %}<br/>

      {% formField housingFields, "PREFERS_LOCAL_APPLICANTS" %}
      {% fieldLabel "Prefers applicants within the local city", housingFields, "PREFERS_LOCAL_APPLICANTS" %}<br/>
    </div>
    <p class="note">It is <span class="bold">not</span> required to input the unit types and rent offerings in sorted order.</p>
    <div id="all-units">
      {% assign unitEndIdx = maxUnits | plus: -1 %}
      {% assign offeringEndIdx = maxOfferings | plus: -1 %}
      {% for unitNum in (0..unitEndIdx) %}
        {% assign unitIdx = unitNum %}
        <div id="unit-{{unitNum}}" class="fieldset_box" hidden>
          <fieldset>
            <legend><span class="section_title">Unit Type</span>
              <div class="float_right">
                <button type="button" class="btn btn_secondary collapse_control">Collapse</button>
                <button type="button" class="btn btn_warning delete_unit">Delete</button>
              </div>
            </legend>
            <div class="collapsible_content">
              {% indexedFieldLabel unitIdx, "Type", unitsFields, "TYPE" %}<br/>
              {% indexedFormField unitIdx, unitsFields, "TYPE", "short" %}

              {% indexedFieldLabel unitIdx, "Status", unitsFields, "STATUS" %}<br/>
              {% indexedFormField unitIdx, unitsFields, "STATUS", "short" %}

              <span class="label">Occupancy Limits</span>
              <p data-toggletip data-toggletip-class="icon_query">The minimum and maximum number of people allowed to live in this unit.</p>
              <br/>
              {% indexedFormField unitIdx, unitsFields, "MIN_OCCUPANCY", "short inline" %} to
              {% indexedFormField unitIdx, unitsFields, "MAX_OCCUPANCY", "short inline" %} people<br/>

              {% assign alternateMinIncomeStr = "" %}
              {% for offerIdx in (0..offeringEndIdx) %}
                {% assign alternateMinIncomeStr = alternateMinIncomeStr | append: "OVERRIDE_MIN_YEARLY_INCOME_USD:" | append: unitIdx | append: ":" | append: offerIdx %}
                {% if forloop.last == false %}
                  {% assign alternateMinIncomeStr = alternateMinIncomeStr | append: "," %}
                {% endif %}
              {% endfor %}
              <input type="checkbox" id="is-alternate-min-income:{{unitIdx}}" class="form_conditional is_alternate_min_income" data-primary-field="MIN_INCOME_RENT_FACTOR:{{unitIdx}}" data-alternate-field="{{alternateMinIncomeStr}}" data-conflict-resolution="alternate"> <label for="is-alternate-min-income:{{unitIdx}}">The minimum income is not calculated based on rent for this unit</label>
              <p data-toggletip data-toggletip-class="icon_query">Most properties calculate the minimum income for a unit type by multiplying the yearly rent by a scale factor.  For example, "2.5 times 12 months' rent".  You should use this type of minimum income in this form whenever possible.<br/><br/> However, in rare cases, a property will not give a scale factor and will <span class="bold">only</span> give the dollar amount. </p><br/>
              <div class="min_income">
                {% indexedFieldLabel unitIdx, "Minimum Income", unitsFields, "MIN_INCOME_RENT_FACTOR" %}<br/>
                {% indexedFormField unitIdx, unitsFields, "MIN_INCOME_RENT_FACTOR", "inline" %} times yearly rent<br/>
              </div>
              <div class="min_income_alternate form_hint" hidden>
                Input the minimum income dollar amount within each rent offering below.
              </div>
              <div class="all_offerings">
                {% for offerNum in (0..offeringEndIdx) %}
                  <div id="unit-{{unitNum}}-offering-{{offerNum}}" class="fieldset_box" hidden>
                  <fieldset>
                    <legend><span class="section_title">Rent Offering</span>
                      <div class="float_right">
                        <button type="button" class="btn btn_secondary collapse_control">Collapse</button>
                        <button type="button" class="btn btn_warning delete_offering">Delete</button>
                      </div>
                    </legend>
                    <div class="collapsible_content">
                      {% assign offerIdx = unitNum | append: ":" | append: offerNum %}
                      <input type="hidden" id={{unitsFields.ID.id}} name={{"ID:" | append: offerIdx}}>
                      {% indexedFieldLabel offerIdx, "Income Bracket", unitsFields, "PERCENT_AMI" %}<br/>
                      {% indexedFormField offerIdx, unitsFields, "PERCENT_AMI", "short inline" %}% AMI<br/>

                      <input type="checkbox" id="is-alternate-rent:{{offerIdx}}" class="form_conditional is_alternate_rent" data-primary-field="RENT_PER_MONTH_USD:{{offerIdx}}" data-alternate-field="ALTERNATE_RENT_DESCRIPTION:{{offerIdx}}" data-conflict-resolution="primary"> <label for="is-alternate-rent:{{offerIdx}}">The rent is variable or can't be entered as a single number for this rent offering</label><br/>
                      <div class="rent_value">
                        {% indexedFieldLabel offerIdx, "Rent", unitsFields, "RENT_PER_MONTH_USD" %}<br/>
                        {% indexedFormField offerIdx, unitsFields, "RENT_PER_MONTH_USD", "inline" %} $/month<br/>
                      </div>
                      <div class="rent_alternate" hidden>
                        {% indexedFieldLabel offerIdx, "Rent Description", unitsFields, "ALTERNATE_RENT_DESCRIPTION" %}<br/>
                        {% indexedFormField offerIdx, unitsFields, "ALTERNATE_RENT_DESCRIPTION", "long"%}
                      </div>

                      <div class="min_income_alternate" hidden>
                        {% indexedFieldLabel offerIdx, "Minimum Income", unitsFields, "OVERRIDE_MIN_YEARLY_INCOME_USD" %}<br/>
                        {% indexedFormField offerIdx, unitsFields, "OVERRIDE_MIN_YEARLY_INCOME_USD", "long inline" %} $/year<br/>
                      </div>

                      {% assign primaryMaxIncomeStr = "" %}
                      {% for hhSize in (1..maxHouseholdSize) %}
                        {% assign primaryMaxIncomeStr = primaryMaxIncomeStr | append: "MAX_YEARLY_INCOME_HH_" | append: hhSize | append: "_USD:" | append: offerIdx %}
                        {% if forloop.last == false %}
                          {% assign primaryMaxIncomeStr = primaryMaxIncomeStr | append: "," %}
                        {% endif %}
                      {% endfor %}
                      <input type="checkbox" id="is-alternate-max-income:{{offerIdx}}" class="form_conditional is_alternate_max_income" data-primary-field="{{primaryMaxIncomeStr}}" data-alternate-field="OVERRIDE_MAX_YEARLY_INCOME_LOW_USD:{{offerIdx}},OVERRIDE_MAX_YEARLY_INCOME_HIGH_USD:{{offerIdx}}" data-conflict-resolution="alternate"> <label for="is-alternate-max-income:{{offerIdx}}">The maximum income is not broken down by household size for this rent offering</label><br/>

                      <table class="max_income">
                        <tr>
                          <th>Household Size</th>
                          <th>Maximum Income</th>
                        </tr>
                        {% for hhSize in (1..maxHouseholdSize) %}
                          <tr>
                          {% assign fieldname = "MAX_YEARLY_INCOME_HH_" | append: hhSize | append: "_USD" %}
                          {% if hhSize == 1 %}
                            {% assign hhSizeStr = hhSize | append: " person" %}
                          {% else %}
                            {% assign hhSizeStr = hhSize | append: " people" %}
                          {% endif %}
                            <td>{% indexedFieldLabel offerIdx, hhSizeStr, unitsFields, fieldname %}</td>
                            <td>${% indexedFormField offerIdx, unitsFields, fieldname, "long inline" %} per year</td>
                          </tr>
                        {% endfor %}
                      </table>
                      <div class="max_income_alternate" hidden>
                        <span class="label">Maximum Income Range<span>
                        <p data-toggletip data-toggletip-class="icon_query">Most properties list the maximum allowed income based on household size.<br/>However, if the maximum income is just given as a simple range of values (e.g. Maximum Income $54,000 - $77,000), then enter the range here.</p>
                        <br/>
                        {% indexedFormField offerIdx, unitsFields, "OVERRIDE_MAX_YEARLY_INCOME_LOW_USD", "long inline" %} to
                        {% indexedFormField offerIdx, unitsFields, "OVERRIDE_MAX_YEARLY_INCOME_HIGH_USD", "long inline" %} $/year
                        <br/>
                      </div>
                    </div>
                  </fieldset>
                  </div>
                {% endfor %}
              </div>
              <button type="button" class="btn btn_secondary add_offering">Add rent offering</button>
            </div>
          </fieldset>
        </div>
      {% endfor %}
    </div>

    <button type="button" id="add-unit" class="btn btn_secondary">Add unit type</button>

    <br/><br/><label for="user-notes">Not sure how to input some of this property's information? Need to leave a note for the reviewer? Enter it here.</label>
    <textarea id="user-notes" name="userNotes" class="extra_long"></textarea>
    <h3>Step 3</h3>
    <p class="bold">Submit these changes for review by The United Effort Organization.</p>
    <button type="button" id="submit-button-changes" class="btn btn_primary">Submit for review</button>
    <button type="button" id="submit-button-no-changes" class="btn btn_secondary">No changes found</button>
  </form>
</div>

<script src="/js/affordable-housing-changes.js"></script>
<script>
  console.log('running');
  run();
</script>