---
layout: "layouts/base.liquid"
pagination: 
  data: housing.housingList
  size: 1
  alias: apartment
permalink: "/housing/affordable-housing/{{apartment.id}}/index.html"
pageClass: "page-housing"
pageHead: '<script src="/js/accessibility.js" defer></script>'
eleventyComputed:
  title: '{{apartment.aptName | default: "Apartment Listing"}}'
---

<h1>{{title}}</h1>
<table class="deflist">
  {% render "apartment-meta-item" label: "Address", item: apartment.address, apartment: apartment %}
  {% render "apartment-meta-item" label: "City", item: apartment.city %}
  {% render "apartment-meta-item" label: "Units", item: apartment.numTotalUnits %}
  {% render "apartment-meta-item" label: "Email", item: apartment.email %}
  {% render "apartment-meta-item" label: "Phone", item: apartment.phone %}
  {% render "apartment-meta-item" label: "Website", item: apartment.website %}
</table>

{% assign genPop = "General Population" %}
{% assign specialPopulations = apartment.populationsServed | except: genPop %}
{% assign numSpecialPopulations = specialPopulations | size %}
{% if numSpecialPopulations > 0 %}
  {%- capture ageRangeStr -%}
    {%- if apartment.minAge and apartment.minAge != "" and
           apartment.maxAge and apartment.maxAge != "" %}
      ({{apartment.minAge}} - {{apartment.maxAge}} years)
    {%- elsif apartment.minAge and apartment.minAge != "" %}
      ({{apartment.minAge}}+ years)
    {%- elsif apartment.maxAge and apartment.maxAge != "" %}
      ({{apartment.maxAge}} years and under)
    {%- endif -%}
  {%- endcapture -%}
  <p>
    {% if apartment.populationsServed | includes: genPop %}
      In addition to the general population, this property also specifically serves people who are
    {% else %}
      This property only serves people who are
    {% endif %}
    {%- for population in specialPopulations -%}
      {%- if forloop.first == false -%}
        {%- if forloop.last %}
          or
        {% else -%}
          ,
        {% endif -%}
      {%- endif -%}
      {{- population | downcase -}}
      {%- if population == "Seniors" or population == "Youth" -%}
        {{- ageRangeStr -}}
      {%- endif -%}
    {%- endfor -%}.
  </p>
{% endif %}

{% if apartment.prefersLocalApplicants %}
  <p>
    When selecting residents, this property gives preference to those who work or live in {{apartment.city | default: "the local city"}}.
  </p>
{% endif %}

{% if apartment.disallowsPublicApps %}
  <p>
    A referral from a housing agency is required to apply for this property. Contact the property for details on the referral process.
  </p>
{% endif %}

<div class="rent_tables">
  {% assign defaultNoDataStr = "Call for info" %}
  {% assign unitsByType = apartment.units | groupBy: "type" | rankSort: "key" %}
  {% comment %}
  Only show the income bracket column in the rent table if there is more than
  one rent offering for that unit type OR there is at least one filled-in
  income bracket value (i.e. % AMI).  If at least one of the unit types for this 
  apartment shows the income bracket column, then it will be showed for all
  of the unit types for consistency.
  {% endcomment %}
  {% assign showIncomeBrackets = false %}
  {% for unitGroup in unitsByType %}
    {% assign numRentOfferings = unitGroup.values | size %}
    {% assign numIncomeBrackets = unitGroup.values | where: "incomeBracket" | size %}
    {% if numRentOfferings > 1 or numIncomeBrackets > 0 %}
      {% assign showIncomeBrackets = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% for unitGroup in unitsByType %}
    {% assign unitType = unitGroup.key %}
    {% assign units = unitGroup.values | sortUnitOfferings %}
    {% comment %}
    'units' is guaranteed to have at least one item since it is generated
    via grouping. Occupancy limits and status should always be the same in every
    entry for a given rental property & unit type, so just take the first one
    here.
    {% endcomment %}
    {% assign occupancyLimit = units[0].occupancyLimit %}
    {% assign openStatus = units[0].openStatus %}
    {%- capture badgeMod -%}
      {%- if openStatus == "Call for Status" -%}
        badge__warn
      {%- elsif openStatus == "Waitlist Closed" -%}
        badge__bad
      {%- elsif openStatus == "Waitlist Open" -%}
        badge__ok
      {%- endif -%}
    {%- endcapture -%}
    <h2>{{unitType | default: ""}}<span class="badge {{badgeMod}}">{{openStatus}}</span></h2>
    Occupancy:
    {% if occupancyLimit.max and occupancyLimit.max != "" and
          occupancyLimit.min and occupancyLimit.min != "" %}
      {% if occupancyLimit.max != occupancyLimit.min %}
        {{occupancyLimit.min}} to {{occupancyLimit.max}} people
      {% else %}
        {{occupancyLimit.min}} {{occupancyLimit.min | pluralize: "person", "people"}}
      {% endif %}
    {% elsif occupancyLimit.min and occupancyLimit.min != "" %}
      {{occupancyLimit.min}}+ people
    {% elsif occupancyLimit.max and occupancyLimit.max != "" %}
      {% if occupancyLimit.max > 1 %}
        up to 
      {% endif %}
      {{occupancyLimit.max}} {{occupancyLimit.max | pluralize: "person", "people"}}
    {% else %}
      {{defaultNoDataStr}}
    {% endif %}
    <table aria-label="Rent and Income Limits Table">
      <thead>
        <tr>
          {% if showIncomeBrackets %}
            <th>Income bracket</th>
          {% endif %}
          <th>Min income (per year)</th>
          <th>Max income (per year)</th>
          <th>Rent (per month)</th>
        </tr>
      </thead>
      <tbody>
        {% for unit in units %}
          <tr>
            {% if showIncomeBrackets %}
              {% assign defaultBracketStr = "Bracket " | concat: forloop.index %}
              <td>
                {%- if unit.incomeBracket and unit.incomeBracket != "" -%}
                  {{unit.incomeBracket}}% <abbr role="definition" aria-label="Area Median Income">AMI</abbr>
                {%- else -%}
                  {{defaultBracketStr}}
                {%- endif -%}
              </td>
            {% endif %}
            <td>
              {%- if unit.minIncome.amount and unit.minIncome.amount != "" -%}
                {{unit.minIncome.amount | money}}
                {%- if unit.minIncome.rentFactor and unit.minIncome.rentFactor != "" and unit.minIncome.isCalculated %}
                  <p data-toggletip data-toggletip-class="icon_info">Calculated as {{unit.minIncome.rentFactor}} times yearly rent</p>
                {%- endif -%}
              {%- else -%}
                {{defaultNoDataStr}}
              {%- endif -%}
            </td>
            <td>
              {%- if unit.maxIncome.low and unit.maxIncome.low != "" and
                    unit.maxIncome.high and unit.maxIncome.high != "" -%}
                {%- if unit.maxIncome.low == unit.maxIncome.high -%}
                  {{unit.maxIncome.low | money}}
                {%- else -%}
                  {{unit.maxIncome.low | money}} to {{unit.maxIncome.high | money}}
                {%- endif -%}
                {%- capture maxIncomeDetails -%}
                  {%- for hhSize in (1..12) -%}
                    {%- assign sizeName = "size" | append: hhSize -%}
                    {%- unless unit.maxIncome.byHouseholdSize[sizeName] and unit.maxIncome.byHouseholdSize[sizeName] != "" -%}
                      {%- continue -%}
                    {%- endunless -%}
                    {%- if unit.occupancyLimit.max and unit.occupancyLimit.max != "" and
                          hhSize > unit.occupancyLimit.max-%}
                      {%- continue -%}
                    {%- endif -%}
                    {%- if unit.occupancyLimit.min and unit.occupancyLimit.min != "" and
                          hhSize < unit.occupancyLimit.min-%}
                      {%- continue -%}
                    {%- endif -%}
                    Household of {{hhSize}}: {{unit.maxIncome.byHouseholdSize[sizeName] | money}}<br/>
                  {%- endfor -%}
                {%- endcapture -%}
                {%- assign maxIncomeDetails = maxIncomeDetails | strip -%}
                {%- if maxIncomeDetails != "" %}
                  <p data-toggletip data-toggletip-class="icon_info">{{maxIncomeDetails}}</p>
                {%- endif -%}
              {%- else -%}
                {{defaultNoDataStr}}
              {%- endif -%}
            </td>
            <td>
              {%- if unit.rent.amount and unit.rent.amount != "" -%}
                {{unit.rent.amount | money}}
              {%- elsif unit.rent.alternateDesc and unit.rent.alternateDesc != "" -%}
                Varies
                <p data-toggletip data-toggletip-class="icon_info">{{unit.rent.alternateDesc}}</p>
              {%- else -%}
                Call for rent
              {%- endif -%}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>


