---
layout: "layouts/base.liquid"
title: "Client Stories"
pageClass: "page_client_stories"
permalink: /client-stories/index.html
---

<h1>Client Stories</h1>

{% for story in stories %}
  <a href="#{{story["Title"]}}">{{story["Title"]}}</a><br/>
{% endfor %}

{% for story in stories %}
  <h3 id="{{story["Title"]}}">{{story["Title"]}}</h2><br/>
  <p class="storyContent">{{story["Content"] | markdownify}}</p>
  <a href="#top">Back to Top</a></br>
{% endfor %}

