---
layout: "layouts/base.liquid"
pagination:
  data: pages
  size: 1
  alias: thisPage
permalink: "{{ thisPage.url }}/index.html"
eleventyComputed:
  pageClass: "page{{ thisPage.url | replace: '/', '-' }}"
  title: "{{ thisPage.name }}"
---

{% assign cardSet = false %}
{%- for section in thisPage.sections -%}

  {% comment %} wrap groups of cards into a card set for layout purposes. {% endcomment %}
  {% if section.type == "Card" and cardSet == false %}
    {% assign cardSet = true %}
    <div class="card-set">
  {% endif %}
  {% if cardSet == true and section.type != "Card" %}
    {% assign cardSet = false %}
    </div>
  {% endif %} 

  <div class="{{section.type | downcase }}">
    {% if section.type == "Pancake" %}
    <div class="container">
    {{ section.content | markdownify }}
    </div>
    {% else %}
    {{ section.content | markdownify }}
    {% endif %}

  </div>
{%- endfor -%}

