---
layout: "layouts/base.liquid"
title: "General Resources"
pageClass: "page-resources"
permalink: /resources/index.html
---

<h1>{{title}}</h1>

{% assign uniqueCategories = resources | index: "Category" %}
{% for category in uniqueCategories %}
<a href="#{{category | downcase | replace: " ", "-" }}">{{category}}</a><br/>
{% endfor %}
{% for category in uniqueCategories | sort %}
  <h2 id="{{category | downcase | replace: " ", "-" }}">{{category}}</h2>
  {% assign links = resources | whereIncluded: "Category", category  %}
  {% assign uniqueSubcategories = links | index: "Subcategory" | sort %}
  {% assign rangeEnd = uniqueSubcategories | size | plus: -1 %}
  {% comment %} Start at -1 to artificially insert an additional null subcategory first. {% endcomment %}
  {% for idx in (-1..rangeEnd) %}
    {% if forloop.first == true %}
      {% assign subcategoryLinks = links | whereEmpty: "Subcategory" %}
    {% else %}
      {% assign subcategory = uniqueSubcategories[idx] %}
      {% assign subcategoryLinks = links | whereIncluded: "Subcategory", subcategory %}
      <h3>{{subcategory}}</h3>
    {% endif %}
    <ul>
      {% for link in subcategoryLinks %}
        {% if link.Markdown %}
          <li>{{ link.Markdown | markdownify }}</li>
        {% else %}
          {% assign prefix = link.URL | slice: 0, 4 %}
          <li><a href="{{link.URL}}" {% if prefix == 'http' %}target="_BLANK" {% endif %}rel="noopener">{{ link.Title }}</a>{% if prefix == 'http' %}<sup>&#8599;</sup>{% endif %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
