---
layout: "layouts/base.liquid"
title: "Resources for Affordable Housing"
pageClass: "page-resources"
permalink: /resources/index.html
---

<h1>General Resources</h1>

{% assign uniqueCategories = resources | index: "Category" %}
{% for category in uniqueCategories %}
<a href="#{{category | downcase | replace: " ", "-" }}">{{category}}</a><br/>
{% endfor %}
{% for category in uniqueCategories | sort %}
  <h2 id="{{category | downcase | replace: " ", "-" }}">{{category}}</h2>
  {% assign categoryLinks = resources | whereIncluded: "Category", category  %}
  {% assign noSubcategoryLinks = categoryLinks | whereEmpty: "Subcategory"  %}
  <ul>
  {% for link in noSubcategoryLinks %}
    {% if link.Markdown %}
      <li>{{ link.Markdown | markdownify }}</li>
    {% else %}
      <li><a href="{{link.URL}}" target="_BLANK" rel="noopener">{{ link.Title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>

  {% assign uniqueSubcategories = categoryLinks | index: "Subcategory" %}
  {% for subcategory in uniqueSubcategories | sort %}
    {% assign subcategoryLinks = categoryLinks | whereIncluded: "Subcategory", subcategory %}
    <h3>{{subcategory}}</h3>
    <ul>
      {% for link in subcategoryLinks %}
        {% if link.Markdown %}
          <li>{{ link.Markdown | markdownify }}</li>
        {% else %}
          <li><a href="{{link.URL}}" target="_BLANK" rel="noopener">{{ link.Title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
