---
layout: "layouts/base.liquid"
title: "Resources for Affordable Housing"
pageClass: "page-resources"
permalink: /resources/index.html
---

<h1>General resources</h1>

{% comment %} {% assign links = resources | whereEmpty: "Category"  %}
<h2>Miscellaneous</h2>
<ul>
  {% for link in links %}
  <li>
    <a href="{{link.URL}}" target="_BLANK" rel="noopener">{{ link.Title }}</a>
    {% if link.Description %}
    <div class="description">
      {{ link.Description | markdownify }}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul> {% endcomment %}

{% assign uniqueCategories = resources | index: "Category" %}
{% for category in uniqueCategories | sort %}
  <h2>{{category}}</h2>
  {% assign categoryLinks = resources | whereIncluded: "Category", category  %}
  {% assign noSubcategoryLinks = categoryLinks | whereEmpty: "Subcategory"  %}
  <ul>
  {% for link in noSubcategoryLinks %}
    <li><a href="{{link.URL}}" target="_BLANK" rel="noopener">{{ link.Title }}</a></li>
  {% endfor %}
  </ul>

  {% assign uniqueSubcategories = categoryLinks | index: "Subcategory" %}
  {% for subcategory in uniqueSubcategories | sort %}
    {% assign subcategoryLinks = categoryLinks | whereIncluded: "Subcategory", subcategory %}
    <h3>{{subcategory}}</h3>
    <ul>
      {% for link in subcategoryLinks %}
      <li><a href="{{link.URL}}" target="_BLANK" rel="noopener">{{ link.Title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
