---
layout: "layouts/base.liquid"
pagination:
  data: pages
  size: 1
  alias: thisPage
permalink: "{{ thisPage.url }}/index.html"
eleventyComputed:
  pageClass: "page{{ thisPage.url | replace: '/', '-' }}"
  title: "{{ thisPage.name }}"
  pageHead: "{%- if thisPage.url == '/donate-test' -%}<script async src=\"https://widgets.givebutter.com/latest.umd.cjs?acct=9yZD2j8yFG8jsP4t&p=other\"></script>{%- endif -%}"
---

{% assign cardSet = false %}
{% assign tileSet = false %}
{%- for section in thisPage.sections -%}

  {% comment %} wrap groups of cards into a card set for layout purposes. {% endcomment %}
  {% if section.type == "Card" and cardSet == false %}
    {% assign cardSet = true %}
    <div class="card-set">
  {% endif %}
  {% if cardSet == true and section.type != "Card" %}
    {% assign cardSet = false %}
    </div>
  {% endif %} 

  {% if section.type == "Tile" and tileSet == false %}
    {% assign tileSet = true %}
    <div class="tile-set">
  {% endif %}
  {% if tileSet == true and section.type != "Tile" %}
    {% assign tileSet = false %}
    </div>
  {% endif %}

  <div class="{{section.type | downcase }}">
    {% if section.type == "Pancake" %}
      <div class="container">
      {{ section.content | markdownify | unplaceholder: images}}
      </div>
    {% elsif section.type == "Render-partial" %}
      {% assign partialName = section.content | strip %}
      {% render partialName, data: partialsData %}
    {% else %}
      {{ section.content | markdownify | unplaceholder: images}}
    {% endif %}

  </div>
{%- endfor -%}

