---
layout: "layouts/base.liquid"
title: "Resources for Affordable Housing"
pageClass: "page-resources"
---

<h1>Resources for Affordable Housing Santa Clara County</h1>

<ul>
  <li><a href="/resources/affordable-housing">Affordable housing list</a></li>
</ul>

{% assign links = resources | whereEmpty: "City"  %}
<h2>Across the county</h2>
<ul>
  {% for link in links %}
  <li>
    <a href="{{link.Link}}" target="_BLANK" rel="noopener">{{ link.Name }}</a>
    {% if link.Description %}
    <div class="description">
      {{ link.Description | markdownify }}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% assign cities = resources | index: "City" %}
{% for city in cities | sort %}
  {% assign links = resources | whereIncluded: "City", city  %}
  <h2>{{city}}</h2>
  <ul>
    {% for link in links %}
    <li><a href="{{link.Link}}" target="_BLANK" rel="noopener">{{ link.Name }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
